@import "./_variables";

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .logo{
        color: $secondary;
        width: 300px;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
        li{
            list-style: none;
            a{
                color: $primary;
            }
        }
    }
}
